body {
	font-family: 'Roboto', sans-serif;
}
.vissualy-hidden {
 display: none;
}
.main-header {
	min-width: 1440px;
	height: 500px;
	background-color: #eeeeee;
}
.header-inside {
	width: 1440px;
	height: 495px;
	margin: 0 auto;
	background-color: #eeeeee;
}
.main-navigation {
	height: 65px;
	font-size: 16px;
	text-transform: uppercase;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.logo {
	padding-left: 140px;
}
.main-navigation a:visited {
	color: black;
}
.site-navigation {
	width: 440px;
	padding-left: 201px;
	padding-top: 18px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
.site-navigation a {
	color: black;
	text-decoration: none;
}
.site-navigation a:active{
	cursor: pointer;
}
.site-navigation,
.user-navigation {
	list-style-type: none;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.user-navigation{
	position: relative;
	padding-top: 18px;
	padding-left: 285px;
}
.user-navigation:hover,
.user-navigation:focus {
	cursor: pointer;
}
.user-navigation:before {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	top: 20px;
	right: 100px;
	background-image: url(../img/cart-icon.svg);
	background-repeat: no-repeat;
}
.slider {
	position: relative;
	font-family: 'Roboto', sans-serif;
	width: 1170px;
	height: 413px;
	margin: 0 auto;
}
.slider-controls {
	position: absolute;
	bottom: 80px;
	left: 49.5%;
	width: 90px;
	height: 18px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: -40px;
	text-align: center;
	z-index: 1000;
}
.slider-controls label {
	display: inline-block;
	width: 9px;
	height: 9px;
	margin: 0 3px;
	background: white;
	border: 5px solid white;
	vertical-align: top;
	border-radius: 50%;
	cursor: pointer;
}
.btn-1:checked ~ .slider-controls label[for="btn-1"],
.btn-2:checked ~ .slider-controls label[for="btn-2"],
.btn-3:checked ~ .slider-controls label[for="btn-3"] {
	background: #c1c1c1;
}

.slider input,
.slider input,
.slider input {
	position: absolute;
	opacity: 0;
}
.slide {
	top: 0;
	left: 0;
	margin-top: 0;
	width: 1170px;
	height: 433px;
	overflow: hidden;
	background-color: #eeeeee;
}
.slide-text {
	width: 380px;
	height: 335px;
	padding: 30px 0 30px 5px;
	margin-bottom: 35px;
	line-height: 1.5;
	color: #283136;
}
.slide-text p {
	margin-bottom: 40px;
	width: 410px;
}
.slide-title-first {
	font-size: 56px;
	width: 400px;
	height: 115px;
	margin-top: 48px;
	margin-bottom: 20px;
	line-height: 1;
	font-weight: bold;
	color: black;
}
.slide-title-second {
	font-size: 56px;
	width: 520px;
	height: 115px;
	margin-top: 48px;
	margin-bottom: 20px;
	line-height: 1;
	font-weight: bold;
	color: black;
}
.slide-title-thrid {
	font-size: 56px;
	width: 520px;
	height: 115px;
	margin-top: 48px;
	margin-bottom: 20px;
	line-height: 1;
	font-weight: bold;
	color: black;
}
.slide .read-more {
	width: 240px;
	text-transform: uppercase;
	text-align: center;
	padding: 16px 0;
	background-color: #fb565a;
	border-radius: 3px;
	outline: none;
	border: none;
}
.read-more a {
  color: white;
  text-decoration: none;
}
.read-more:hover,
.read-more:focus {
	cursor: pointer;
}
.slide:nth-child(1) {
	background-image: url(../img/slide-1.png);
	background-repeat: no-repeat;
	background-position: 92% 20px;
}
.slide:nth-child(2) {
	background-image: url(../img/slide-2.png);
	background-repeat: no-repeat;
	background-position: 100% 10px;
}
.slide:nth-child(3) {
	background-image: url(../img/slide-3.png);
	background-repeat: no-repeat;
	background-position: 100% 10px;
}
.slide {
	display: none;
}
.btn-1:checked ~ .slides .slide:nth-child(1) {
	display: block;
}
.btn-2:checked ~ .slides .slide:nth-child(2) {
	display: block;
}
.btn-3:checked ~ .slides .slide:nth-child(3) {
	display: block;
}
.container {
	width: 1440px;
	min-height: 1851px;
	margin: 0 auto;
}
.advantages {
	width: 1440px;
	height: 535px;
	margin: 0 auto;
}
.advantages-items {
	width: 1100px;
	list-style-type: none;
	padding-top: 67px;
	padding-left: 141px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.advantages-items li {
	width: 300px;
	height: 356px;
	font-family: 'Roboto', sans-serif;
}
.advantages-items h3 {
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 18px;
}
.advantages-items p {
	width: 250px;
	line-height: 1.5;
	margin-bottom: 30px;
}
.advantages-items button {
	padding: 16px 38px;
	border-radius: 5px;
	color: white;
	text-transform: uppercase;
	border: none;
}
.advantages-items button:hover,
.advantages-items button:focus {
	cursor: pointer;
}
.advantages-items .rose-button {
	background-color: #fc5459;
}
.advantages-items .green-button {
	background-color: #01cd7a;
}
.advantages-items .yellow-button {
	background-color: #f0cb54;
}
.about {
	width: 1155px;
	height: 478px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.about-us {
	width: 655px;
	height: 476px;
}
.about-us h2 {
	font-size: 45px;
	font-weight: bold;
	margin-top: 35px;
	margin-bottom: 30px;
	line-height: 1;
}
.about-us h2 + p {
 line-height: 1.5;
}
.about-us h3 {
	font-size: 16px;
	text-transform: uppercase;
	line-height: 1;
	margin-top: 45px;
	margin-bottom: 28px;
}
.about-us h3 + p {
	padding-left: 35px;
	margin-bottom: 23px;
	line-height: 1.5;
	position: relative;
}
.about-us h3 + p:before {
	content: '';
	position: absolute;
	top: 13px;
	left: -2px;
	width: 25px;
	height: 2px;
	background-image: url(../img/line.png);
}

.about-us p + p {
	padding-left: 35px;
	line-height: 1.9;
	position: relative;
}

.about-us p + p:before {
	content: '';
	position: absolute;
	top: 13px;
	left: -2px;
	width: 25px;
	height: 2px;
	background-image: url(../img/line.png);
}

.conditions {
	width: 360px;
	height: 415px;
}
.conditions h3 {
    font-size: 16px;
	text-transform: uppercase;
	margin-top: 35px;
	padding-left: 20px;
}
.conditions ul {
	list-style-type: none;
    padding-top: 25px;
    margin-right: 12px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 0;
}
.conditions li {
	width: 107px;
}
.conditions sup {
	font-size: 25px;
}
.conditions span {
	font-size: 45px;
	font-weight: bold;
}
.partners {
	width: 1155px;
	height: 240px;
	margin: 0 auto;
	}
.partners ul {
	list-style-type: none;
	padding-left: 0px;
	height: 182px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid #d1d1d1;
	border-top: 1px solid #d1d1d1;
}
.partners li {
	position: relative;
	width: 270px;
	height: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.partners a:hover,
.partners a:focus {
	cursor: pointer;
}
.partners li + li:before {
	content: '';
	position: absolute;
	height: 50px;
	width: 2px;
   left: -15px;
   top: 60px;
	background-image: url(../img/verical-line.png);
}
.map {
	width: 1440px;
	margin: 0 auto;
	height: 417px;
	background-image: url(../img/map.png);
	position: relative;
}
.map img {
	position: absolute;
	margin-left: 820px;
	margin-top: 83px;
}
.modal {
	height: 307px;
	width: 320px;
	background-color: white;
	margin-left: 140px;
	margin-top: 30px;
	position: absolute;
	
}
.modal h3 {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	padding-top: 53px;
	padding-left: 50px;
	margin-bottom: 30px;
}
.modal p {
   padding-left: 50px;
   margin-bottom: 17px;
   width: 210px;
}

.modal-btn {
	border: none;
	background-color: #fb565a;
	padding: 16px 43px;
	text-transform: uppercase;
	border-radius: 3px;
	color: white;
	margin-left: 50px;
	margin-top: 18px;
}
.modal-btn:hover,
.modal-btn:focus {
	cursor: pointer;
}
.main-footer {
	width: 1440px;
	height: 220px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.main-footer ul {
	list-style-type: none;
	width: 260px;
	height: 78px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 64px;
	padding-bottom: 15px;
}
.main-footer li {
	width: 79px;
	height: 79px;
	background-color: #e1e1e1;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main-footer li:hover,
.main-footer li:focus {
	cursor: pointer;
}
.discount {
	height: 65px;
	padding-right: 320px;
	padding-bottom: 20px;
}
.discount span{
 font-size: 33px;
 font-weight: bold;
}
.discount p {
	margin-top: 10px;
}